.navbar {
    background-color: #03045E;
    padding: 15px;
  }
  
  .navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }